@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 100%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 100%;

    --primary: 252 59% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 9%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 0% 9%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 9%;
    --input: 0 0% 9%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground h-full;
  }
  html {
    @apply h-full;
  }
}
